# Ignore node dependencies
node_modules

# Ignore build output
.next
out

# Ignore TypeScript build output
dist

# Ignore environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore logs
*.log

# Ignore generated Prisma files
app/generated/prisma/
